body, button, input
	font-family: 'Montserrat', sans-serif
	font-size: 15px
	font-weight: 400

header
	position: absolute
	z-index: 1	
	width: 100%
	padding-bottom: 15px
	background: $color-light
.main
	position: relative
	display: flex
	align-items: center
	justify-content: center
	height: 100vh
	background: rgba($bg-color, .5)
footer	
	position: relative
	height: 100px
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		z-index: 0
		display: block
		width: 100%
		height: 100%
		background: $color-light		