.button,.input
	display: block
	height: 50px
	padding: 0 30px
	font-weight: 700
	line-height: 48px
	color: $color-dark
	border: none
	border-radius: 5px
.button	
	color: $color-light
	background: $color-active
	transition: all 1s
	&:hover
		background: $color-dark
		color: $color-light
		cursor: pointer	
.disign,.realize
	font-size: 11px
	padding-top: 5px
	text-align: right
	color: rgba($color-light, .4)
.disign
 	margin-top: 10px	